{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 80,
    "tabWidth": 2,
    "arrowParens": "always",
    "jsxSingleQuote": true,
    "overrides": [
      {
        "files": ["*.tsx", "*.jsx"],
        "options": {
          "jsxBracketSameLine": true,
          "singleQuote": true
        }
      }
    ]
  }