@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body{
  background-color:#F7F7F7;
  overflow-x: hidden
}

/* Generic classes */
.baseWidth > * {
  @apply w-full /* Set width for all direct child elements */
}

.container{
  @apply max-w-screen-xl p-10 h-screen flex justify-between flex-col;
}

.sectionContainer{
  @apply w-full max-w-screen-xl p-10 flex justify-start flex-col;
}

.sectionMargin{
  @apply md:my-20
}

.smooth{
  @apply transition-all duration-500 ease-in-out
}

.sectionHeaderTextSize{
  @apply text-3xl sm:text-4xl md:text-5xl
}

/* Flex Classes */
.flexCenter{
  @apply flex items-center justify-center;
}
.adaptiveFlexCenter{
  @apply md:flex items-center justify-center;
}
.flexBetwn{
  @apply flex justify-between;
}

.responsiveGrid {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5 md:gap-0
}

.textColorLight{
  @apply text-[#F7F7F7]
}

.textColorDark{
  @apply text-[#282828]
}

.textColorSecondary{
  @apply text-[#878787]
}

/* Hero Section Classes */
.setBg{
  @apply bg-heroSectionBackground bg-cover bg-center
}
.heroTextSize{
  @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl
}