@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: #f4f3ee;
  color: #282828;
  font-family: var(--font-cormorant);
  overflow-x: hidden;
  align-content: center;
}

/* Fonts */
.text-tangerine {
  font-family: var(--font-tangerine), cursive;
}

.text-cormorant {
  font-family: var(--font-cormorant), cursive;
}

.text-cormorant_unicase {
  font-family: var(--font-cormorant_unicase), cursive;
}

.text-raeenie_beanie {
  font-family: var(--font-raeenie_beanie), cursive;
}

/* Generic */
.shadow_generic {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
