@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body{
  background-color:#F7F7F7
}

/* Generic classes */
.baseWidth > * {
  @apply w-full /* Set width for all direct child elements */
}

.container{
  @apply max-w-screen-xl p-10 h-screen flex justify-between flex-col;
}

.sectionContainer{
  @apply max-w-screen-xl p-10 flex justify-center flex-col;
}

.sectionMargin{
  @apply my-28
}

/* Flex Classes */
.flexCenter{
  @apply md:flex items-center justify-center;
}
.flexBetwn{
  @apply flex justify-between;
}

.responsiveGrid {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4
}

.textColorLight{
  @apply text-[#F7F7F7]
}

.textColorDark{
  @apply text-[#282828]
}

.textColorSecondary{
  @apply text-[#878787]
}

/* Hero Section Classes */
.setBg{
  @apply bg-heroSectionBackground bg-cover bg-center
}